@model IEnumerable<WaterRemedy.Models.Rainfall>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Roof Water</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link rel="icon" href="~/pic/greenwater.png" type="image/x-icon">

    <link href="~/StyleFolder/bootstrap.min.css" rel="stylesheet" />
    <link href="~/StyleFolder/animate.css" rel="stylesheet" />
    <link href="~/StyleFolder/venobox.css" rel="stylesheet" />
    <link href="~/css/mdb.css" rel="stylesheet" />
    <link href="~/StyleFolder/style.css" rel="stylesheet" />
    <link href="~/StyleFolder/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="~/JavaScript/popper.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/StyleFolder/sideNavBar.css" rel="stylesheet" />
    <link href="~/StyleFolder/aclculateArea.css" rel="stylesheet" />
    <script src="~/js/echarts.min.js"></script>
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="HeaderContainer">

            <div class="logo float-left">
                <h1 class="text-light"><img src="~/img/lllg.png" style="max-height:50px" /><a href="/Home/HomeIndex"><span>Water Remedy</span></a></h1>
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active">
                        <a href="/Home/HomeIndex">Home</a>
                    </li>
                    <li>
                        <a href="/Home/AboutWater">About Us</a>
                    </li>
                    @*<li class="drop-down">
                            <a href="/Home/DIYDetergent">Clean Water</a>
                            <ul>
                                <li><a href="/Home/DIYDetergent#hello">Check my products</a></li>
                            </ul>
                        </li>*@
                    <li class="drop-down">
                        <a href="/Home/RoofWater">Water Saver</a>
                        <ul>
                            <li><a href="/Home/RoofWater#rwater">How Much Can You Save</a></li>
                            @*<li><a href="/Home/WaterTank">Have A Water Tank</a></li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/CatchmentInDanger">Water Facts</a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End #header -->
    <section>
        <div class="container-diy">
            <div class="row">
                <div id="Roof" class="col-lg-12 col-md-12 filter-app">
                    @*<img src="~/img/roof-water.jpg" style="width:800px; height:400px" />*@
                    <div class="Roof-container">
                        <h1 style="font-weight:600">Water Saver</h1>
                        <div style="margin-top:30px; margin-left:20px">
                            <span class="p">Do you know?</span>
                            <br>
                            <span class="ps">Your roof can collect over 2000 liters of rainfall per year? </span>
                            <br>
                            <span class="p">What small changes can you do? </span>
                            <br>
                            <span class="ps">Check your ROOF size and install a water tank to harvest the rain.</span>
                        </div>
                        @*<h2 style="font-weight:bold">Water is more precious than gold</h2>*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <ol class="container-diy breadcrumb" id="mao" style="background-color:#fff">
        <li class="breadcrumb-item"><a href="/Home/HomeIndex">Home</a></li>
        <li class="breadcrumb-item active">Water Saver</li>
    </ol>

    @*<div class="container-diy" style="text-align:center">
            <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:300px; background-color:rgba(128, 219, 213, 1)">Step 1: Measure Your Roof</button>
            <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:300px; background-color:rgba(236, 125, 155, 1)">Step 2: Planning</button>
            <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:300px; background-color:rgba(186, 218, 85, 1)">Summary</button>
            <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:300px; background-color:rgba(242, 216, 160, 1)">Instaliation</button>
        </div>*@




    @*<div id="howmuch" style="margin-top:50px"></div>*@
    <!-- stepper -->
    <div class="container" style="margin-top:100px">
        <div class="row">
            <div class="process">
                <div class="process-row nav nav-tabs">
                    <div class="process-step">
                        <button type="button" class="btn btn-circle btn-menu-lock" id="menu1" onclick="show1(this)" href="step1" style="font-size:20px">1</button>
                        <p>Measure roof</p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-circle btn-menu-unlock" id="menu2" onclick="show2(this)" href="step2" style="font-size:20px">2</button>
                        <p>Planning</p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-circle btn-menu-unlock" id="menu3" onclick="show3(this); sumMaterialsPrice(); addP()" href="step3" style="font-size:20px">3</button>
                        <p>Summary</p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-circle btn-menu-unlock" id="menu4" onclick="changeBtnColor(this); show4(this)" href="step4" style="font-size:20px">4</button>
                        <p>Find stores</p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-circle btn-menu-unlock" id="menu5" onclick="changeBtnColor(this); show5(this)" href="step5" style="font-size:20px">5</button>
                        <p>Installation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="step1">
        <input id="houseArea" style="display:none" value="0.0" />
        <div style="margin-bottom:50px; margin-top:50px" id="rwater">
            <h2 style="text-align:center; color:black; font-size:40px; font-weight:600">
                STEP 1: How much you can save from rainfall?
            </h2>
            <!-- Button trigger modal -->
            <div style="text-align:center; margin-top:50px">
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Launch demo modal
                    </button>*@
                <a id="roofModal" data-toggle="modal" data-target="#exampleModalCenter" style="background-color:#4D4D4D; color:#fff; font-size:25px">Click me: The Steps to Measure Your Roof.</a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Measure Your Roof</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p style="color:black; font-weight:500; font-size:15px">
                                Step 1: In the search box, type in your home address with street number and search
                                <br />
                                E.g.  1234 Collins Street, Melbourne
                                <br />
                                <br />
                                Step 2: Zoom in until you can see the shape of your roof clearly
                                <br />
                                <br />
                                Step 3: On the upper right corner of the map@*<img src="~/img/line.png">*@ '十', click on the polyline sign to start.
                                <br />
                                <br />
                                Step 4: You can now see the cursor on the map turns to a black cross<img src="~/img/cross.png" style="width:20px; height:20px">. Click on each corner to draw the shape of your roof.
                                <br />
                                <br />
                                Step 5: Click on the "Calculate" button to see the results.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a style="text-decoration:underline; font-size:15px" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mapContainer">
                <div @*class="container"*@>
                    <input id="pac-input" class="controls" type="text" placeholder="Enter a address..." />
                </div>
                <div class="row" style="margin-top:50px">
                    <div class="col-lg-8 col-md-8 filter-app">
                        <div id="map"></div>

                    </div>
                    <div class="col-lg-4 col-md-4 filter-app">
                        <div class="card">
                            <div class="card-header">
                                Result
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <h6>Rainfall collection Yearly (L/yearly)</h6>
                                    <p id="lyear">0</p>
                                </blockquote>
                                <blockquote class="blockquote mb-0">
                                    <h6>Equal value in AUD</h6>
                                    <p>$ <span id="savemoney">0</span></p>
                                </blockquote>
                                <div style="text-align:center">
                                    <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:250px; background-color:#bfbfbf" href="#showbar" id="cal">Calculate</button>
                                    <br>
                                    <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:250px; background-color:#bfbfbf" id="delete-button">Reset</button>
                                    @*<button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:#fff; width:250px; background-color:rgba(47, 46, 46, 1)" id="step1Next" onclick="calNext()">Next Step ></button>*@
                                    @*<button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:250px; background-color:rgba(235, 186, 77, 1)" id="find">Find Stores</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="graph"></div>

        <div id="showbar">
            <div class="container" style="margin-bottom:20px; margin-top:100px; text-align:center">
                <h6 id="monthG" style="text-align:center; font-size:27px; font-weight:600; color:black">Check Your Monthly Water Savings!</h6>
                <p style="color:black; font-weight:500; font-size:20px; text-align:center">
                    The yellow line indicates the amount of monthly rainfall in Melbourne.
                </p>
                <p style="color:black; font-weight:500; font-size:20px; text-align:center">
                    The blue bar indicates the volume of your water storage in each month.
                </p>
                <p style="color:black; font-weight:500; font-size:20px; text-align:center">
                    You can hang your cursor over the bars to see the exact number of rainfall and water storage.
                </p>
                <p style="color:black; font-weight:500; font-size:20px; text-align:center">
                    In February and March, there is less rainfall. Hence, it's good time to install new tanks.
                </p>
                <div id="bar2" class="row" style="width: 1100px; height: 500px; margin-top:50px; text-align:center"></div>

            </div>
        </div>
        <div style="text-align:center; margin-top:-50px">
            <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:#fff; width:250px; background-color:rgba(47, 46, 46, 1); margin-top:50px" id="step1Next" onclick="calNext()" href="#mao">Next Step ></button>
        </div>
    </div>

    <div id="step2" style="margin-top:50px">
        <div class="container">
            <h2 style="text-align:center; color:black; font-size:40px; font-weight:600">
                STEP 2: Planning
            </h2>
            <div class="components-container">
                <h4 style="color:black; font-size:20px; font-weight:600">1. What tank materials do you prefer?</h4>
                <div style="margin-bottom:10px">
                    <a style="font-size:18px; font-weight:600; text-decoration:underline; background-color:#4D4D4D; color:#fff" data-toggle="modal" data-target="#exampleModalCenter7">Difference between tank materials</a>
                </div>
            </div>
            <div class="components-container" style="color:black; margin-top:20px">

                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline13" name="inlineDefaultRadiosExample3" checked="checked" onclick="mPolyethylene()">
                    <label class="custom-control-label" for="defaultInline13" style="font-size:18px">Polyethylene</label>
                </div>
                <br>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline14" name="inlineDefaultRadiosExample3" onclick="mSteel()">
                    <label class="custom-control-label" for="defaultInline14" style="font-size:18px">Steel</label>
                </div>
            </div>
            <div class="components-container" style="color:black; margin-bottom:20px">
                <h4 style="color:black; font-size:20px; font-weight:600; margin-top:20px; margin-bottom:10px">2. Do you have following components for water tank? </h4>
                <div style="margin-bottom:10px">
                    <a style="font-size:18px; font-weight:600; text-decoration:underline; background-color:#4D4D4D; color:#fff" data-toggle="modal" data-target="#exampleModalCenter1">How do accessories look like</a>
                </div>
                <div id="materials" style="font-size:18px">
                    <div class="form-check" style="margin-bottom:10px">
                        <label class="form-check-label">
                            <input type="checkbox" name="category" class="form-check-input" price="39" value="Rain head: Collects rainwater to a pipe." />Rain head: Collects rainwater to a pipe.
                        </label>
                    </div>
                    <br>
                    <div class="form-check" style="margin-bottom:10px">
                        <label class="form-check-label">
                            <input type="checkbox" name="category" class="form-check-input" price="16.95" value="PVC piple: To export water." />PVC piple: To export water.
                        </label>
                    </div>
                    <br>
                    <div class="form-check" style="margin-bottom:10px">
                        <label class="form-check-label">
                            <input type="checkbox" name="category" class="form-check-input" price="14.97" value="Gutter mesh: Installed on your roof to prevent blockage." />Gutter mesh: Installed on your roof to prevent blockage.
                        </label>
                    </div>
                    <br>
                    <div class="form-check" style="margin-bottom:10px">
                        <label class="form-check-label">
                            <input type="checkbox" name="category" class="form-check-input" price="30.8" value="First flush plus water diverter: Export the rainwater." />First flush plus water diverter: Export the rainwater.
                        </label>
                    </div>
                    <br>
                    <div class="form-check" style="margin-bottom:10px">
                        <label class="form-check-label">
                            <input type="checkbox" name="category" class="form-check-input" price="22" value="Water gauge: Check the volume of water inside the tank." />Water gauge: Check the volume of water inside the tank.
                        </label>
                    </div>
                    <br>
                    <div class="form-check" style="margin-bottom:10px">
                        <label class="form-check-label">
                            <input type="checkbox" name="category" class="form-check-input" price="41" value="Filter: Keep leaves and other debris from entering the tank." />Filter: Keep leaves and other debris from entering the tank.
                        </label>
                    </div>
                    <br>
                    <div class="form-check" style="margin-bottom:10px">
                        <label class="form-check-label">
                            <input type="checkbox" name="category" class="form-check-input" price="17.35" value="Gutter outlet: Allow water to flow to the water tank." />Gutter outlet: Allow water to flow to the water tank.
                        </label>
                    </div>
                </div>
                @* pop1 *@
                @*<a style="font-size:18px; font-weight:600; text-decoration:underline" data-toggle="modal" data-target="#exampleModalCenter1">how components looks like?</a>*@
            </div>
            <div class="components-container" style="color:black; margin-bottom: 20px">
                <h4 style="color:black; font-size:20px; font-weight:600">3. What is your budget range? </h4>
            </div>
            @* AUD1 *@
            <div id="AUD1" class="components-container" style="color:black; margin-bottom:25px; font-size:18px">

                <!-- Default inline 1-->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample1" onclick="showRang1()">
                    <label class="custom-control-label" for="defaultInline1">2000 - 2500 AUD</label>
                </div>
                <br>
                <!-- Default inline 2-->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample1" onclick="showRang2()">
                    <label class="custom-control-label" for="defaultInline2">2500 -3000 AUD</label>
                </div>
                <br>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline4" name="inlineDefaultRadiosExample1" onclick="showRang4()">
                    <label class="custom-control-label" for="defaultInline4">More than 3500 AUD</label>
                </div>
            </div>
            @* AUD2 *@
            <div id="AUD2" class="components-container" style="color:black; font-size:18px">
                <!-- Default inline 3-->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample1" onclick="showRang3()">
                    <label class="custom-control-label" for="defaultInline3">3000-3500 AUD</label>
                </div>
                <br>
                <!-- Default inline 4-->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultInline15" name="inlineDefaultRadiosExample1" onclick="showRang5()">
                    <label class="custom-control-label" for="defaultInline15">More than 3500 AUD</label>
                </div>
            </div>
            @* rang1 *@
            <div id="plans">
                <div id="rang1" class="components-container" style="color:black; margin-top:30px; font-size:18px">
                    <h4 style="color:black; font-size:18px; font-weight:600; margin-bottom:20px">According to your budget, we recommend following plan:</h4>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultInline5" name="inlineDefaultRadiosExample2" value="1976" onclick="getPlanPrice(this)">
                        <label class="custom-control-label" for="defaultInline5" name="A" value="Two 3000L polyethylene tanks, which cost $1976 in total Polyethylene tanks can be used for 10 years." onclick="getPlanContent(this)">Plan A: Two 3000L polyethylene tanks, which cost $1976 in total Polyethylene tanks can be used for 10 years.</label>
                    </div>
                    <br>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultInline6" name="inlineDefaultRadiosExample2" value="1564" onclick="getPlanPrice(this)">
                        <label class="custom-control-label" for="defaultInline6" name="B" value="One 5000L polyethylene tank and one 1000L polyethylene tank, which cost $1564 in total Polyethylene tanks can be used for 10 years." onclick="getPlanContent(this)">Plan B: One 5000L polyethylene tank and one 1000L polyethylene tank, which cost $1564 in total Polyethylene tanks can be used for 10 years.</label>
                    </div>
                    <p style="color:black; font-weight:600; font-size:20px; margin-top:30px">Tips: The cost of the plan does not include the cost of components, find more details with our customer service robot.</p>
                </div>
                @* rang2 *@
                <div id="rang2" class="components-container" style="color:black; margin-top:30px; font-size:18px">
                    <h4 style="color:black; font-size:18px; font-weight:600; margin-bottom:20px">According to your budget, we recommend following plan:</h4>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultInline7" name="inlineDefaultRadiosExample2" value="2222" onclick="getPlanPrice(this)">
                        <label class="custom-control-label" for="defaultInline7" name="C" value="One 4000L polyethylene tank and one 2000L polyethylene tank, which cost $2222 in total. Polyethylene tanks can be used for 10 years." onclick="getPlanContent(this)">Plan C: One 4000L polyethylene tank and one 2000L polyethylene tank, which cost $2222 in total. Polyethylene tanks can be used for 10 years.</label>
                    </div>
                    <br>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultInline8" name="inlineDefaultRadiosExample2" value="2148" onclick="getPlanPrice(this)">
                        <label class="custom-control-label" for="defaultInline8" name="D" value="Three 2000L polyethylene tanks, which cost $2148 in total. Polyethylene tanks can be used for 10 years." onclick="getPlanContent(this)">Plan D: Three 2000L polyethylene tanks, which cost $2148 in total. Polyethylene tanks can be used for 10 years.</label>
                    </div>
                    <p style="color:black; font-weight:600; font-size:20px; margin-top:30px">Tips: The cost of the plan does not include the cost of components, find more details with our customer service robot.</p>
                </div>
                @* rang3 *@
                <div id="rang3" class="components-container" style="color:black; margin-top:30px; font-size:18px">
                    <h4 style="color:black; font-size:18px; font-weight:600; margin-bottom:20px">According to your budget, we recommend following plan:</h4>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultInline9" name="inlineDefaultRadiosExample2" value="2924" onclick="getPlanPrice(this)">
                        <label class="custom-control-label" for="defaultInline9" name="E" value="Two 3000L steel tanks, which cost $2924 in total. Steel tanks can be used for 20 years." onclick="getPlanContent(this)">Plan E: Two 3000L steel tanks, which cost $2924 in total. Steel tanks can be used for 20 years.</label>
                    </div>

                    <br>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultInline11" name="inlineDefaultRadiosExample2" value="2958" onclick="getPlanPrice(this)">
                        <label class="custom-control-label" for="defaultInline11" name="G" value="One 4000L steel tank and one 2000L steel tank, which cost $2958 in total. Steel tanks can be used for 20 years." onclick="getPlanContent(this)">Plan G: One 4000L steel tank and one 2000L steel tank, which cost $2958 in total. Steel tanks can be used for 20 years.</label>
                    </div>
                    <p style="color:black; font-weight:600; font-size:20px; margin-top:30px">Tips: The cost of the plan does not include the cost of components, find more details with our customer service robot.</p>
                </div>
                @* rang4 *@
                <div id="rang4" class="components-container" style="color:black; margin-top:30px; font-size:18px">
                    <h4 style="color:black; font-size:18px; font-weight:600; margin-bottom:20px">According to your budget, we recommend following plan:</h4>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultInline12" name="inlineDefaultRadiosExample2" value="4272" onclick="getPlanPrice(this)">
                        <label class="custom-control-label" for="defaultInline12" name="H" value="Three 2000L polyethylene tanks, which cost $4272 in total. Steel tanks can be used for 20 years." onclick="getPlanContent(this)">Plan H: Three 2000L polyethylene tanks, which cost $4272 in total. Steel tanks can be used for 20 years. </label>
                    </div>
                    <p style="color:black; font-weight:600; font-size:20px; margin-top:30px">Tips: The cost of the plan does not include the cost of components, find more details with our customer service robot.</p>
                </div>
                @* rang5 *@
                <div id="rang5" class="components-container" style="color:black; margin-top:30px; font-size:18px">
                    <h4 style="color:black; font-size:18px; font-weight:600; margin-bottom:20px">According to your budget, we recommend following plan:</h4>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultInline10" name="inlineDefaultRadiosExample2" value="3005" onclick="getPlanPrice(this)">
                        <label class="custom-control-label" for="defaultInline10" name="F" value="One 5000L steel tank and one 1000L steel tank, which cost $3005 in total. Steel tanks can be used for 20 years." onclick="getPlanContent(this)">Plan F: One 5000L steel tank and one 1000L steel tank, which cost $3005 in total. Steel tanks can be used for 20 years.</label>
                    </div>
                    <p style="color:black; font-weight:600; font-size:20px; margin-top:30px">Tips: The cost of the plan does not include the cost of components, find more details with our customer service robot.</p>
                </div>
            </div>
            <div style="text-align:center; margin-top:35px">

                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:#fff; width:300px; background-color:rgba(47, 46, 46, 1)" id="p1" href="#mao" onclick="s2Previous()">< previous step</button>
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:#fff; width:300px; background-color:rgba(47, 46, 46, 1)" id="n1" href="#mao" onclick="s2Next(); sumMaterialsPrice(); addP()">next step ></button>
            </div>
        </div>
    </div>

    <div id="step3">
        <div class="container" style="margin-top:50px">
            <div id="summaryPDF">

                <div id="2" class="summary-container" style="margin-top:30px; border-top:1px solid black; border-right:1px solid black; border-left:1px solid black; border-bottom:1px solid black">
                    <div id="printPDF">
                        <div id="1" style="margin-top:10px">
                            <h2 style="color:black; font-size:30px; font-weight:600; text-decoration:underline; margin-bottom:20px; text-align:center">SUMMARY</h2>
                            <br>
                            <h2 style="color:black; font-size:30px; font-weight:300">Based on your choice:</h2>
                            <p style="color:black; font-weight:300; font-size:25px">Your roof can save <span id="storageWater" style="text-decoration:underline">0</span> L water every year.</p>
                            <div style="margin-top:15px">
                                <p style="color:black; font-weight:300; font-size:25px">A total volume of 6000L is expected to ensure sufficient space for monthly water storage.</p>
                                <p style="color:black; font-weight:300; font-size:20px"><span style="font-weight:300; font-size:25px">Therefore, your plan will include: </span><br><span id="choosePlan"></span></p>
                            </div>
                            @*<img src="~/img/smile-face.png" style="width:15vh" />*@
                        </div>
                        @*<div class="row">
                                <div class="col-lg-6 col-md-6 filter-app">


                                </div>
                                <div class="col-lg-6 col-md-6 filter-app">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 filter-app">
                                            <img id="pic1" src="~/img/PET1.jpg" style="width:inherit" />
                                        </div>
                                        <div class="col-lg-6 col-md-6 filter-app">
                                            <img id="pic2" src="~/img/PET2.jpg" style="width:inherit" />
                                        </div>
                                    </div>
                                </div>
                            </div>*@



                        <div id="3" @*class="summary-container"*@ style="margin-top:10px">
                            <div @*class="summary-container"*@ style="color:black">-------------------------------------------------------------------------------</div>
                            <p id="accessories" style="color:black; font-weight:300; font-size:25px">You need the following accessories:</p>
                            <div id="needMaterials" style="color:black; font-size:20px">
                            </div>
                            <div id="accessLine" style="color:black"></div>
                            <p style="color:black; font-weight:300; font-size:25px; margin-top:10px">The total cost is $ <span id="Total" style="text-decoration:underline">0 </span> </p>
                            <h2 style="color:black; font-size:20px; font-weight:600; margin-top:10px; margin-bottom:10px">YOUR ACTIONS TRUELY SAVE WATER CATCHMENT BY SMALL CHANGES.</h2>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:20px; margin-left:0px">
                        <p style="color:black; font-weight:300; font-size:25px; margin-top:10px">  The following are the water tanks you need for your plan. (TIPS: Pictures will not be printed out.)</p>
                        <div class="col-lg-2 col-md-2 filter-app"></div>
                        <div class="col-lg-4 col-md-4 filter-app">
                            <img id="pic1" src="~/img/PET1.jpg" style="width:inherit" />
                        </div>
                        <div class="col-lg-4 col-md-4 filter-app">
                            <img id="pic2" src="~/img/PET2.jpg" style="width:inherit" />
                        </div>
                        <div class="col-lg-2 col-md-2 filter-app"></div>
                    </div>
                </div>

            </div>
            <div style="text-align:center; margin-top:50px">
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:#fff; width:250px; background-color:rgba(47, 46, 46, 1)" id="p2" href="#mao" onclick="s3Previous()">< previous step</button>
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:250px; background-color:rgba(245, 245, 245, 1)" id="pdf">Print out</button>
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:#fff; width:250px; background-color:rgba(47, 46, 46, 1)" id="n2" href="#mao" onclick="s3Next()">find store ></button>
            </div>
        </div>
    </div>

    <div id="step4">
        <div class="container" style="text-align:center; margin-top:50px">

            <div>
                <h5 style="color:black; font-size:40px; font-weight:600">STEP 4:Find a store</h5>
                <div class="mapContainer">
                    <div class="row" style="margin-top:30px">
                        <div class="col-lg-1 col-md-1 filter-app"></div>
                        <div class="col-lg-10 col-md-10 filter-app">


                            <div class="row" style="margin-bottom:30px; text-align:center">
                                @*<div class="col-lg-6 col-md-6 filter-app"><button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:250px; background-color:rgba(235, 186, 77, 1)" id="delete-button2">Clear Map</button></div>*@
                                <div class="col-lg-12 col-md-12 filter-app"><button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; width:250px; background-color:rgba(235, 186, 77, 1)" id="find2">Find Stores</button></div>
                            </div>
                            <div id="map3" style="height: 500px; width: auto"></div>
                            <div style="text-align:center; margin-bottom:20px">
                                <input id="pac-input2" class="controls" type="text" onchange="onAdderssChange()" @*placeholder="Enter a address..."*@ />
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 filter-app"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary-container row" style="margin-bottom:30px; text-align:center">
            <div class="col-lg-6 col-md-6 filter-app"><button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:#fff; width:250px; background-color:rgba(47, 46, 46, 1)" id="p3" href="#mao" onclick="s4Previous()">< previous step</button></div>
            <div class="col-lg-6 col-md-6 filter-app"><button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:#fff; width:250px; background-color:rgba(47, 46, 46, 1)" id="n3" href="#mao" onclick="s4Next()">Install tank ></button></div>
        </div>
    </div>

    <div id="step5">
        <div class="container" style="text-align:center; margin-top:50px">
            <h2 style="color:black; font-size:40px; font-weight:600">STEP 5: Installation</h2>
            <iframe id="instructionVideo" @*width="760" height="515"*@ src="https://www.youtube.com/embed/2Bq71mPvK0k?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="text-align:center">
            <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:#fff; width:250px; background-color:rgba(47, 46, 46, 1)" id="p4" href="#mao" onclick="s5Previous()">< previous step</button>
        </div>
        <div class="container" style="text-align:center; margin-bottom:50px; margin-top:50px">
            <h3 style="color:#363636; font-size:45px; font-weight:bold; margin-top:20px; margin-bottom:20px">What can you do next   ?</h3>
            <div class="row" style="text-align:center">
                @*<div class="col-lg-4 col-md-4 filter-app"></div>*@
                <div class="col-lg-12 col-md-12 filter-app" style="background-color:rgba(235, 186, 77, 0.18)">
                    <div style="margin-top:50px; margin-bottom:50px">
                        <span style="font-family:Raleway; color:black">INDOOR</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Check out Home Detergents</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Stop & Replace</span>
                        <br>
                        <button type="button" class="Navbtn" data-aos="fade-right" data-aos-duration="1000" onclick="window.location.href='/Home/DIYDetergent'">LEARN MORE ></button>
                    </div>
                </div>
                @*<div class="col-lg-4 col-md-4 filter-app"></div>*@
            </div>
        </div>
    </div>

    @* Step 1 *@


    @* Step 2 *@





    @* popup window *@
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="width:auto">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color:black; font-size:20px; font-weight:600">What are other necessary components</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        @*<p style="color:black; font-size:20px; font-weight:600">What are other necessary components</p>*@
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/img/T1.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img src="~/img/T2.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img src="~/img/T3.png" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img src="~/img/T4.png" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img src="~/img/T5.png" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img src="~/img/T6.png" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <a style="text-decoration:underline; font-size:15px" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color:black; font-size:20px; font-weight:600">Difference between tank materials</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:black; font-weight:500; font-size:15px">
                        @*<span style="font-weight:bold">Plan A:</span> two 3000L polyethylene tanks; starting from $1976 in total; lifespan of 10 years;*@
                        Polyethylene tanks are lighter in weight with much lower cost than steel tanks are.
                    </p>
                    <p style="color:black; font-weight:500; font-size:15px">
                        @*<span style="font-weight:bold">Plan B:</span> two 3000L steel tanks; starting from around $3200 in total; lifespan of 20 years;*@
                        Steel tanks have higher price, but are more stronger than polyethylene tanks. Generally a steel tank's lifespan is twice of a polyethylene tank's lifespan.
                    </p>
                </div>
                <div class="modal-footer">
                    <a style="text-decoration:underline; font-size:15px" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:black; font-weight:500; font-size:15px">
                        <span style="font-weight:bold">Plan A:</span> two 3000L polyethylene tanks; starting from $1976 in total; lifespan of 10 years;
                    </p>
                    <p style="color:black; font-weight:500; font-size:15px">
                        <span style="font-weight:bold">Plan B:</span> two 3000L steel tanks; starting from around $3200 in total; lifespan of 20 years;
                    </p>
                </div>
                <div class="modal-footer">
                    <a style="text-decoration:underline; font-size:15px" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:black; font-weight:500; font-size:15px">
                        <span style="font-weight:bold">Plan C:</span> one 5000L polyethylene tank and one 1000L polyethylene tank; starting $1523 from in total; lifespan of 10 years; can be installed close to the target room;
                    </p>
                    <p style="color:black; font-weight:500; font-size:15px">
                        <span style="font-weight:bold">Plan D:</span> one 5000L steel tank and one 1000L steel tank; starting from $3035 in total; lifespan of 10 years; can be installed close to the target room; less complexity of installation
                    </p>
                </div>
                <div class="modal-footer">
                    <a style="text-decoration:underline; font-size:15px" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>






    @*<div class="l_c_h">
            <div class="c_h">
                <div class="left_c">
                    <div class="left center_icons">
                        Live help!
                        <div class="right right_c left_icons">
                            <img src="~/img/chat-icon3.png" style="width:auto; height:35px" />
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="chat_container" style="display: none;">
                    <iframe src='https://webchat.botframework.com/embed/myqnaserver-bot?s=e1ts79DPVWo.zIh5ekvimyEqEIVKnaPRLDS7fXMX7r-7HdjQgFv_CBc' style='min-width: 100px; width: 350px; min-height: 500px; border:0'></iframe>
                </div>
            </div>
        </div>*@

    @*<div id="test" class="container">
            <style>
            </style>
            <h1>hello world</h1>
            <h4>hello PDF</h4>
            <img src="~/img/bath-01.jpg" />
        </div>*@

    <script SameSite="None; Secure" src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
    <script>
        var myLandbot = new LandbotLivechat({
            index: 'https://chats.landbot.io/v2/H-732989-4YFSIQ5565VKNWEA/index.html',
        });
    </script>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 filter-app" style="text-align:center">
                    <img src="~/img/lllg.png" style="width:9vh; height:10vh" />
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>WHO WE ARE</h5>
                    <a href="/Home/HomeIndex">Home</a>
                    <br>
                    <a href="/Home/AboutWater">About Us</a>
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>OUR SERVICES</h5>
                    <a href="/Home/RoofWater">Water Save</a>
                    <br>
                    <a href="/Home/DIYDetergent">Clean Water</a>
                </div>
            </div>
        </div>
    </footer>

    @*<a href="#" class="back-to-top"><i class="icofont-simple-up">Top</i></a>*@


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/JavaScript/bootstrap.js"></script>
    @*<script src="~/JavaScript/bootstrap.bundle.js"></script>*@
    <script src="~/JavaScript/jquery.easing.min.js"></script>
    <script src="~/JavaScript/isotope.pkgd.js"></script>
    <script src="~/JavaScript/venobox.js"></script>
    <script src="~/JavaScript/main.js"></script>
    <script src="~/js/mdb.js"></script>
    <script src="~/JavaScript/DataTables/jquery.dataTables.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8juZ2HNagjrCBrnnjuBkhccADbTfjgt8&callback=initMap&libraries=drawing,places,geometry&v=weekly"
            defer></script>
    <script src="~/Scripts/calculateArea.js"></script>
    <script src="~/Scripts/Tanks.js"></script>
    <script src="~/Scripts/sidenavbar.js"></script>
    <script src="~/Scripts/stepper.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script>
        var displayBar = document.getElementById("showbar");
        var monthStorageArray = [];
            function calculate() {
                var area = document.getElementById('houseArea').value;
                var totalSaveMoney = 0.0;
                var yearStorage;
                var indoorSave = 0.0;
                var outdoorSave = 0.0;
                var currentMonthIndoorReq = @ViewBag.currentMonthIndoorReq;
                var rainfallList = @ViewBag.list;

                var rainfallMonth = @Html.Raw(Json.Encode(@ViewBag.rfmList));
                var indoorRequired = @Html.Raw(Json.Encode(@ViewBag.indoorReq));
                var outdoorRequired = @Html.Raw(Json.Encode(@ViewBag.outdoorReq));

                var avgMonthRainfall = 0;

                console.log(area);
                console.log(rainfallList);

                yearStorage = parseFloat(area) * rainfallList;
                console.log(yearStorage);
                document.getElementById('lyear').innerHTML = yearStorage.toFixed(0);

                avgMonthRainfall = yearStorage / 12;
                document.getElementById('storageWater').innerHTML = avgMonthRainfall.toFixed(0);

                for (var i = 0; i < rainfallMonth.length; i++) {

                    var currentMonthStorage = parseFloat(area) * parseFloat(rainfallMonth[i]);
                    parseFloat(rainfallMonth[i]);

                    if (currentMonthStorage == 0) {
                        totalSaveMoney = 0.0;
                        $('#cal').notify("Please measure your roof", options);
                        break;
                    }

                    monthStorageArray.push(parseFloat(currentMonthStorage.toFixed(0)));

                    if (currentMonthStorage >= outdoorRequired[i]) {
                        indoorSave += outdoorRequired[i] / 1000 * 2.683;
                    } else {
                        indoorSave += currentMonthStorage / 1000 * 2.683;
                    }

                    var remainingWater = currentMonthStorage - indoorRequired[i];
                    if (remainingWater < 0) {
                        outdoorSave += 0.0;
                    } else if (remainingWater < outdoorRequired[i]) {
                        outdoorSave += remainingWater / 1000 * 3.2552;
                    } else if (remainingWater >= outdoorRequired[i]) {
                        outdoorSave += outdoorRequired[i] / 1000 * 3.2552;
                    }
                }
                totalSaveMoney = outdoorSave + indoorSave;
                document.getElementById('savemoney').innerHTML = totalSaveMoney.toFixed(0);

                console.log(monthStorageArray);

                if (currentMonthStorage == 0) {
                    displayBar.style.display = "none";
                } else {

                    displayBar.style.display = "block";
                    $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
                }


                var myBar = echarts.init(document.getElementById("bar2"), 'light');
        var monthList = @Html.Raw(Json.Encode(@ViewBag.monthList));
        var storageList = @Html.Raw(Json.Encode(@ViewBag.rlist));
        var rainfallMonth = @Html.Raw(Json.Encode(@ViewBag.rfmList));
        console.log(monthList);

        window.addEventListener('resize', function () {//执行
            myBar.resize();
        })
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                data: ['Monthly_rainfall', 'water_storage/m^2']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    axisPointer: {
                        type: 'shadow'
                    },
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: 'collected per m^2',
                    //min: 0,
                    //max: 50,
                    //interval: 10,
                    axisLabel: {
                        formatter: '{value} L'
                    },
                    splitLine:{show: false},
                },
                {
                    type: 'value',
                    name: 'Average rainfall',
                    //min: 15,
                    //max: 75,
                    //interval: 15,
                    axisLabel: {
                        formatter: '{value} mm'
                    }
                }
            ],
            series: [
                {
                    name: 'water_storage/m^2',
                    type: 'bar',
                    data: monthStorageArray
                },
                {
                    name: 'Monthly_rainfall',
                    type: 'line',
                    yAxisIndex: 1,
                    data: rainfallMonth
                }
            ]
        };
                myBar.setOption(option);


        }

        var cal = document.getElementById("cal");
        var reset = document.getElementById("delete-button");
        var findStore = document.getElementById("find");

        cal.addEventListener("click", calculate);

        //$('#step1Next').click(function () {
        //    $('html, body').animate({
        //        scrollTop: $($.attr(this, 'href')).offset().top
        //    }, 500);
        //    return false;
        //});
        //$('#cal').click(function () {
        //    $('html, body').animate({
        //        scrollTop: $($.attr(this, 'href')).offset().top
        //    }, 500);
        //    return false;
        //});
        $('#p1').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
        //$('#n1').click(function () {
        //    $('html, body').animate({
        //        scrollTop: $($.attr(this, 'href')).offset().top
        //    }, 500);
        //    return false;
        //});
        $('#p2').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
        $('#n2').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
        $('#p3').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
        $('#n3').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
        $('#p4').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
        //findStore.addEventListener("click", searchLocation);

        reset.addEventListener("click", resetGraph);
        function resetGraph() {
            monthStorageArray = [];
            resetMap();
        }

        //map2
        var reset2 = document.getElementById("delete-button2");
        var findStore2 = document.getElementById("find2");
        findStore2.addEventListener("click", resetGraph2);
        findStore2.addEventListener("click", searchLocation2);

        //reset2.addEventListener("click", resetGraph2);
        function resetGraph2() {
            monthStorageArray = [];
            resetMap2();
            onAdderssChange();
        }



        $(function(){
            $(".c_h").click(function(e) {
                //if ($(".chat_container").is(":visible")) {
                //    $(".c_h .right_c .mini").text("+")
                //} else {
                //    $(".c_h .right_c .mini").text("-")
                //}
                $(".chat_container").slideToggle("slow");
                return false
        });
        });
    </script>


    <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
            var specialElementHandler = {
                "#summaryPDF": function (element, renderer) {
                    return true;
                }
            };
            var doc = new jsPDF('a4');
            const shareContent = document.getElementById('summaryPDF');
            const rect = shareContent.getBoundingClientRect();


            //$('#pdf').click(function () {
            //    //var testDivElement = document.getElementById('someHtml');

            //    var imgData;
            //    html2canvas($("#summaryPDF"), {
            //        useCORS: true,
            //        onrendered: function (canvas) {
            //            imgData = canvas.toDataURL('image/png');
            //            var doc = new jsPDF('p', 'pt', 'a4');
            //            doc.addImage(imgData, 'PNG', -115, 20);
            //            doc.save('Water tank plan.pdf');
            //            //window.open(imgData);
            //        }
            //    });

            //    //// get converted element
            //    //var element = document.querySelector('#test');
            //    //var images = element.querySelectorAll('img');

            //    //// convert img to base64
            //    //var imageBase64s = [];
            //    //for (var i = 0; i < images.length; i++){
            //    //    imageBase64s.push(getImageBase64(images[i]));
            //    //}

            //    //// get html string
            //    //var children = element.children;
            //    //var htmlString = '';
            //    //var j = 0;
            //    //for (var i = 0; i < children.length; i++) {
            //    //    if (children[i].tagName == "IMG") {
            //    //        htmlString += `<img src="${imageBase64s[j]}">`;
            //    //        j++;
            //    //    } else {
            //    //        htmlString += children[i].outerHTML;
            //    //    }
            //    //}

            //    //doc.fromHTML(element, 0, 0);
            //    //doc.save("test.pdf");
            //});

            $('#pdf').click(function () {
                doc.fromHTML($('#printPDF').html(), 10, 10, {
                    'elementHandlers': specialElementHandler,
                    'width': 150
                });
                doc.save('WaterTankPlan.pdf');
            });
        });

        function getImageBase64(imageEle) {
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');
            canvas.height = imageEle.naturalHeight;
            canvas.width = imageEle.naturalWidth;

            ctx.drawImage(imageEle, 0, 0, canvas.height, canvas.width);
            return canvas.toDataURL();
        }

    </script>

    <script>
        function static_num() {
            var arr = new Array();
            var items = document.getElementsByName("category");
            for (i = 0; i < items.length; i++) {
                if (items[i].checked) {
                    arr.push(items[i].value);
                }
            }
            alert("选择的个数为：" + arr.length);
        };

                                        //$('#menu1').click(function () {
                                        //    $('html, body').animate({
                                        //        scrollTop: $($.attr(this, 'href')).offset().top
                                        //    }, 500);
                                        //    return false;
                                        //});
                                        //$('#menu2').click(function () {
                                        //    $('html, body').animate({
                                        //        scrollTop: $($.attr(this, 'href')).offset().top
                                        //    }, 500);
                                        //    return false;
                                        //});
                                        //$('#menu3').click(function () {
                                        //    $('html, body').animate({
                                        //        scrollTop: $($.attr(this, 'href')).offset().top
                                        //    }, 500);
                                        //    return false;
                                        //});
                                        //$('#menu4').click(function () {
                                        //    $('html, body').animate({
                                        //        scrollTop: $($.attr(this, 'href')).offset().top
                                        //    }, 500);
                                        //    return false;
                                        //});
                                        //$('#menu5').click(function () {
                                        //    $('html, body').animate({
                                        //        scrollTop: $($.attr(this, 'href')).offset().top
                                        //    }, 500);
                                        //    return false;
                                        //});
    </script>

    <style>
        #map {
            height: 500px;
            width: auto;
        }

        #showbar {
            display: none;
        }

        #pac-input2 {
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid transparent;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            height: 29px;
            margin-left: 17px;
            margin-top: 10px;
            outline: none;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 50%;
            display: none;
        }

            #pac-input2:focus {
                border-color: #4d90fe;
            }
    </style>
</body>
</html>
