@model WaterRemedy.Models.BathroomSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BathroomSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chemical_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chemical_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.harm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.harm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
